<ion-content class="registro-content" [fullscreen]="true">
  <div class="container">
    <div class="header-row">
      <ion-button fill="clear" class="back-button" [routerLink]="['/login']">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <h1 class="app-title">Recuperar contraseña</h1>
    </div>

    <div class="login-box">

      <div class="icon-container">
        <ion-icon name="lock-closed-outline" class="big-lock-icon"></ion-icon>
        <p class="info-text">Ingrese su email para enviar una confirmación de contraseña</p>
      </div>

      <ion-item lines="none" class="input-icon">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      

      <ion-button expand="block" class="login-button" [routerLink]="['/login']">
        Restaurar contraseña
      </ion-button>

    </div>
  </div>
</ion-content>
