<ion-content class="login-content" [fullscreen]="true">
  <div class="container">
    <div class="header-row">
      <ion-button fill="clear" class="back-button" [routerLink]="['/login']" aria-label="Volver atrás">
        <ion-icon name="chevron-back-circle-outline" slot="icon-only" aria-hidden="true"></ion-icon>
      </ion-button>
      <h1 class="app-title">Recuperar contraseña</h1>
    </div>
    <div class="login-box">
      <div class="icon-container">
          <ion-icon name="shield-checkmark" class="big-lock-icon" aria-hidden="true"></ion-icon>
          <p class="info-text">Ingrese su email para enviar una confirmación de contraseña</p>
        </div>
        <ion-item lines="none" class="input-item">
          <ion-icon name="mail-outline" slot="start" aria-hidden="true"></ion-icon>
          <ion-input
            type="email"
            placeholder="Correo electronico"
            class="custom-input"
            aria-label="Correo electrónico"
          >
          </ion-input>
        </ion-item>

        <ion-button expand="block" class="login-button" [routerLink]="['/login']">
          Restaurar contraseña
        </ion-button>
      </div>
  </div>
</ion-content>