.registro-content {
    --background: linear-gradient(to top, #2ecc71, #000);
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 16px;
    position: relative;
}

.header-row {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 70px;
}

.back-button {
    margin-right: 8px;
    color: white;
}

.app-title {
    font-size: 30px;
    color: #fff;
    margin: 0;
    padding-left: 4px;
    padding-top: 8px;
}

.login-box {
    background: #000;
    padding: 24px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.big-lock-icon {
    font-size: 150px; /* Aumentamos el tamaño del ícono */
    color: #3498db;
    margin-bottom: 12px;
}

.info-text {
    color: #ccc;
    font-size: 16px; /* Aumentamos el tamaño del texto */
    text-align: center;
    margin: 0;
    padding: 0 10px;
}

.input-icon {
    display: flex;
    align-items: center; /* Alinea todos los elementos verticalmente en el centro */
    justify-content: flex-start; /* Alinea los elementos al inicio (a la izquierda) */
}

.input-icon ion-icon {
    margin-right: 12px; /* Añade un margen a la derecha del ícono para separarlo del label */
    color: #28a745; /* Color del ícono */
}

.input-icon ion-label {
    font-size: 16px; /* Ajusta el tamaño de la fuente del label */
    color: #ffffff;
    font-weight: 600; /* Aumenta el peso de la fuente */
    margin-right: 12px; /* Añade margen entre el label y el input */
}

.input-icon ion-input {
    flex: 1; /* Hace que el input ocupe el espacio restante */
    color: white;
    background: transparent;
    font-size: 16px;
    padding-left: 12px; /* Espacio a la izquierda del texto en el input */
    border-radius: 8px; /* Bordes redondeados para el input */
}

ion-item {
    --highlight-color-focused: #28a745;
    --background: transparent;
    --color: white;
    --border-color: transparent;
    margin-bottom: 12px;
}

ion-label {
    color: #ffffff;
    font-weight: 700; /* Mayor peso para el texto del label */
    font-size: 16px; /* Aumento del tamaño de la fuente */
    margin-bottom: 6px; /* Separación más grande */
}

ion-input {
    color: white;
    --placeholder-color: #ccc;
    font-size: 16px; /* Aumento del tamaño de la fuente de los inputs */
    padding: 10px; /* Añadimos padding para mejorar la apariencia */
    border-radius: 8px; /* Bordes redondeados para el input */
    background: #333; /* Fondo oscuro para los inputs */
}

.login-button {
    margin-top: 20px;
    --background: #28a745;
    font-weight: bold;
    border-radius: 8px;
    font-size: 16px; /* Aumento del tamaño de la fuente del botón */
}
