<app-encabezado></app-encabezado>

<ion-content [fullscreen]="true">
  <div class="header-row">
    <ion-button fill="clear" class="back-button" routerLink="/perfil">
      <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <h1 class="app-title">Todos tus seguidos</h1>
  </div>

  <hr class="section-divider">

  <ion-searchbar 
    placeholder="Buscar usuario" 
    class="search-bar" 
    (ionInput)="buscarUsuarios($event)">
  </ion-searchbar>

  <hr class="section-divider">

  <ng-container *ngIf="usuariosSeguidosFiltrados.length > 0; else sinSeguidos">
    <ion-list class="followers-list">
      <ion-item 
        *ngFor="let user of usuariosSeguidosFiltrados; let i = index" 
        (click)="verPerfil(user.id_usuario)">
        
        <ion-avatar slot="start">
          <img [src]="user.avatar || 'https://ionicframework.com/docs/img/demos/avatar.svg'" alt="{{ user.nombre_usuario }}" />
        </ion-avatar>
        
        <ion-label>{{ user.nombre_usuario }}</ion-label>
        
        <ion-button
          fill="outline"
          color="danger"
          class="follow-button"
          (click)="confirmarEliminar(i, user); $event.stopPropagation();">
          Eliminar
        </ion-button>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #sinSeguidos>
    <div class="no-publicaciones-container" style="text-align:center; margin-top: 50px;">
      <ion-icon name="people-outline" size="large" ></ion-icon>
      <p>No tienes usuarios seguidos aún.</p>
    </div>
  </ng-template>

</ion-content>

<app-navbar></app-navbar>
