.centered-title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: var(--ion-color-primary);
  }
  .section-divider {
    border: none;
    height: 1px;
    background-color: #dcdcdc;
    margin: 10px 16px;
  }
  
  .followers-list {
    margin: 0;
  }
  
  ion-item {
    --inner-padding-end: 10px;
    display: flex;
    align-items: center;
  }
  
  ion-avatar {
    width: 40px;
    height: 40px;
  }
  
  ion-label {
    margin-left: 10px;
    font-size: 16px;
  }
  
.follow-button {
  margin-left: auto;
  font-size: 10px;
  padding: 6px 12px;
  min-width: 130px;    /* ancho fijo mínimo para ambos */
  text-align: center;
  --padding-start: 0;
  --padding-end: 0;
}
.no-publicaciones-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px; /* O el alto que prefieras */
  color: var(--ion-color-primary);
  font-size: 1.2rem;
  text-align: center;
}