<app-encabezado></app-encabezado>

<ion-content [fullscreen]="true" class="contenido-con-margen">
  <div class="chat-header">
    <ion-button class="back-button" (click)="volver()" expand="block" fill="clear" shape="round">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <div class="title">Notificaciones</div>
  </div>
<div class="notificaciones-container">
  <div class="notificacion" *ngFor="let n of notificaciones">
    <img class="avatar" [src]="n.fotoPerfil || 'assets/default-avatar.png'" alt="Usuario" (click)="verPerfil(n.idUserHecho)">
    <div class="contenido">
      <strong class="usuario" (click)="verPerfil(n.idUserHecho)">
        {{ n.nombre_usuario }}
      </strong> {{ n.tipoAccion }}
      <div class="tiempo">{{ obtenerTiempoRelativo(n.fecha) }}</div>
    </div>
  </div>
</div>
</ion-content>

<app-navbar></app-navbar>
