

<ion-content [fullscreen]="true" class="ion-padding">
  <h2 class="titulo">Eventos Actuales</h2>

  <ion-card *ngFor="let evento of eventos" class="evento-card">
    <ion-card-header>
      <ion-card-title>{{ evento.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ evento.tipo }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p><strong>Lugar:</strong> {{ evento.lugar }}</p>
      <p><strong>Hora:</strong> {{ evento.hora }}</p>
  
      <div class="botones-evento">
        <ion-button expand="block" class="boton-unirse" (click)="unirse(evento)">
          UNIRSE
        </ion-button>
  
        <ion-button fill="clear" size="small" class="boton-detalles" (click)="verDetalles(evento)">
          Detalles
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>