<app-encabezado></app-encabezado>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="game-controller" refreshingIcon="game-controller">
    </ion-refresher-content>
  </ion-refresher>

  <div class="fila-eventos">
    <ion-button fill="clear" class="boton-volver" (click)="volverAtras()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <h2 class="titulo">Eventos Disponibles</h2>
  </div>

  <ion-searchbar (ionInput)="filtrarEventos($event)" placeholder="Buscar juego, tipo o creador">
  </ion-searchbar>

  <ng-container *ngIf="datosCargados">
    <ion-card *ngFor="let evento of eventosFiltrados" class="evento-card">
      <ion-card-header class="header-con-estado">
        <ion-card-title>{{ evento.nombre_evento }}</ion-card-title>
        <ion-card-subtitle>{{ evento.tipo_juego }}</ion-card-subtitle>

        <div class="info-evento">
          <div class="estado-luz-texto">
            <div class="estado-indicador" [ngClass]="{
              'verde': evento.estado_evento === 'DISPONIBLE',
              'amarillo': evento.estado_evento === 'EN CURSO',
              'rojo': evento.estado_evento === 'FINALIZADO',
              'naranja': evento.estado_evento === 'SIN CUPOS'
            }">
            </div>

            <div class="estado-texto" [ngClass]="{
              'texto-verde': evento.estado_evento === 'DISPONIBLE',
              'texto-amarillo': evento.estado_evento === 'EN CURSO',
              'texto-rojo': evento.estado_evento === 'FINALIZADO',
              'texto-naranja': evento.estado_evento === 'SIN CUPOS'
            }">
              {{ evento.estado_evento }}
            </div>
          </div>
        </div>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Juego:</strong> {{ evento.nombre_juego }}</p>
        <p>
          <strong>Lugar:</strong> {{ evento.lugar }}
          <span style="color: rgb(44, 236, 19);"> | </span>
          <strong>Inicio:</strong> {{ evento.fechaInicio | date: 'short' }}
        </p>
        <p><strong>Cupos:</strong> {{ evento.cupos }}</p>
        <p>
          <strong>Creado por:</strong>
          <span style="color: rgb(15, 209, 167);">{{ evento.creador_nombre }}</span>
        </p>

        <div class="botones-evento">
          <ion-button expand="block" class="boton-unirse" (click)="irADetalleEvento(evento)">
            {{ evento.id_creador === idUsuarioActual ? 'IR A SALA' : 'VER EVENTO' }}
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>

<app-navbar></app-navbar>