
::ng-deep ion-refresher-content .refresher-icon,
::ng-deep ion-refresher-content .refresher-pulling-icon,
::ng-deep ion-refresher-content .refresher-refreshing-icon {
  color: #3fe520 !important; // Cambia este valor por el color que desees
}



.fila-eventos {
  display: flex; /* Activa Flexbox */
  align-items: center; /* Alinea verticalmente */
  gap: 15px; /* Espacio entre la flecha y el texto */
}
.boton-volver{
  /* --background: var(--verde-neon); */
  --color: rgb(13, 228, 13);
  margin-top: 10px;
  margin-bottom: 10px;

}

ion-searchbar{
  color: #f2f2f2;
  --icon-color: #3fe520;
}


  :host {
    --verde-neon: #2ec015;
    --verde-oscuro: #2ecc71;
    --fondo-tarjeta: #1a1a1a;
  }
  
  ion-card.evento-card {
    background-color: var(--fondo-tarjeta);
    border-left: 5px solid var(--verde-neon);
    color: white;
    box-shadow: 0 0 12px rgba(57, 255, 20, 0.4);
  
    ion-card-title {
      color: var(--verde-neon);
    }
  
    ion-card-subtitle {
      color: var(--verde-oscuro);
    }
  
    .botones-evento {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 12px;
  
      ion-button {
        font-weight: bold;
      }
  
      .boton-unirse {
        --background: var(--verde-neon);
        --color: black;
        flex: 1;
        margin-right: 10px;
      }
  
      .boton-detalles {
        --color: var(--verde-neon);
        padding: 0;
      }
    }
  }


  .header-con-estado {
  display: flex;
  align-items: flex-start;
}

.info-evento {
  display: flex;
  flex-direction: column;
}

.estado-luz-texto {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 6px;
  margin-top: 6px;
}

.estado-indicador {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.verde {
  background-color: #2dff00;
  box-shadow: 0 0 10px rgba(45, 255, 0, 0.6);
}

.amarillo {
  background-color: #ffd500;
  box-shadow: 0 0 10px rgba(255, 213, 0, 0.6);
}

.rojo {
  background-color: #ff3c3c;
  box-shadow: 0 0 10px rgba(255, 60, 60, 0.6);
}

.estado-texto {
  font-size: 13px;
  font-weight: bold;
}

.texto-verde {
  color: #2dff00;
}

.texto-amarillo {
  color: #ffd500;
}

.texto-rojo {
  color: #ff3c3c;
}

.naranja {
  background-color: orange;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.6);
}

.texto-naranja {
  color: orange;
}

.no-eventos {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  color: white;
  opacity: 0.7;
}

.icono-vacio {
  font-size: 64px;
  color: var(--verde-neon, #39ff14);
  margin-bottom: 16px;
}

.texto-vacio {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

.subtexto-vacio {
  font-size: 16px;
  color: #ccc;
}



