 .fondo-negro {
  --background: #000;
  color: #39ff14;
} 

.input-monster {
  --background: #000;
  --color: #ffffff;
  --border-color: #39ff14;
  --border-radius: 12px; // más redondeado
  margin: 12px auto;
  width: 90%; // achica de los lados (puedes ajustar a 80% si quieres más compacto)
  max-width: 500px; // limita su expansión en pantallas grandes
}

ion-label {
  color: #ffffff !important;
}

.fila-eventos {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-bottom: 20px;
}

.titulo {
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: bold;
  margin: 0 auto;
}

.boton-monster {
  --background: #39ff14;
  --color: #000;
  font-weight: bold;
  margin-top: 280px;

}
.boton-volver {
  position: absolute;
  left: 0;
  --color: rgb(0, 252, 0);
  margin-left: 10px;
}






 .campo-cupos {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  height: 50px;

  label-cupos {
    font-weight: bold;
    margin-bottom: 150px;
    color: #ffffff;
  }

  .cupos-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    ion-button {
      --border-color: #39ff14;
      --color: #39ff14;
    }

    .cupos-numero {
      font-size: 1.5rem;
      font-weight: bold;
      width: 40px;
      text-align: center;
      color: white;
    }
  }
} 