<app-encabezado></app-encabezado>
<ion-content class="ion-padding fondo-negro">

  <div class="fila-eventos">
    <ion-button fill="clear" class="boton-volver" (click)="volverAtras()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <h2 class="titulo">Crear Evento</h2>
    <ion-icon name="people-outline" size="large" style="margin-left: 130px;"></ion-icon>
  </div>



  <form [formGroup]="eventoForm" (ngSubmit)="crearEvento()">
    <ion-input fill="outline" label="Nombre del Evento" label-placement="floating" formControlName="nombre_evento"
      placeholder="Ej: Torneo relámpago" class="input-monster"></ion-input>

    <ion-textarea fill="outline" label="Descripción" label-placement="floating" formControlName="descripcion"
      placeholder="Breve descripción del evento" class="input-monster"></ion-textarea>

    <ion-input fill="outline" label="Tipo de Evento" label-placement="floating" formControlName="tipo_evento"
      placeholder="Deporte, juego de mesa, videojuego..." class="input-monster"></ion-input>


    <!-- Fecha de Inicio -->
    <ion-item class="input-monster">
      <ion-label>Fecha de Inicio</ion-label>
      <ion-datetime-button datetime="fechaInicio"></ion-datetime-button>
    </ion-item>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="fechaInicio" presentation="date-time" prefer-wheel="false" [min]="fechaMinima"
          formControlName="fecha_inicio"></ion-datetime>
      </ng-template>
    </ion-modal>

    <!-- Fecha Término -->
    <ion-item class="input-monster">
      <ion-label>Fecha de Término</ion-label>
      <ion-datetime-button datetime="fechaTermino"></ion-datetime-button>
    </ion-item>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="fechaTermino" presentation="date-time" prefer-wheel="false" [min]="fechaMinima"
          formControlName="fecha_termino"></ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-button expand="block" type="submit" class="boton-monster" (click)="crearEvento()">
      Crear Evento
    </ion-button>
  </form>
</ion-content>
<app-navbar></app-navbar>



























<!-- <form [formGroup]="eventoForm" (ngSubmit)="crearEvento()">

    
    <div class="header-row" style="display: flex; align-items: center;">
      <ion-button fill="clear" class="boton-volver" (click)="volverAtras()" style="margin-right: 8px;">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <h2 class="header-title">Crea tu Evento</h2>
    </div>
    


    
    <ion-item>
      <ion-label position="floating">Evento</ion-label>
      <ion-input formControlName="titulo" type="text"></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea formControlName="descripcion"></ion-textarea>
    </ion-item>



  
    <ion-item>
      <ion-label position="floating">Lugar</ion-label>
      <ion-input formControlName="lugar" type="text"></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    
    <ion-item>
      <ion-label>Duración estimada</ion-label>
      <ion-select formControlName="duracion">
        <ion-select-option value="15">15 minutos</ion-select-option>
        <ion-select-option value="30">30 minutos</ion-select-option>
        <ion-select-option value="60">1 hora</ion-select-option>
        <ion-select-option value="90">1h 30min</ion-select-option>
      </ion-select>
    </ion-item>

    
    <ion-item>
      <ion-label>Cupos máximos</ion-label>
      <ion-buttons slot="end">
        <ion-button fill="outline" (click)="decrementCupos()">-</ion-button>
        <ion-input [value]="cupos" readonly class="cupos-input"></ion-input>
        <ion-button fill="outline" (click)="incrementCupos()">+</ion-button>
      </ion-buttons>
    </ion-item>


    
    <ion-item>
      <ion-label>Privacidad</ion-label>

      <ion-radio-group formControlName="privacidad">
        <ion-item>
          <ion-label>Público</ion-label>
          <ion-radio slot="start" value="publico"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Privado</ion-label>
          <ion-radio slot="start" value="privado"></ion-radio>
        </ion-item>
      </ion-radio-group>

    </ion-item>

   
    <ion-button class="boton-verde" expand="block" type="submit">
      Lanzar evento
    </ion-button>

  </form> -->