.fondo-negro {
  --background: #202020;
  color: #39ff14;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.form-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  padding-bottom: 16px;
}

.input-monster {
  --background: #202020;
  --color: #ffffff;
  --border-color: #30ce14;
  --border-radius: 12px;
  margin: 12px auto;
  width: 90%;
  max-width: 500px;
}

ion-label {
  color: #ffffff !important;
}

.fila-eventos {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-bottom: 20px;
}

.titulo {
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: bold;
  margin: 0 auto;
}

.boton-monster {
  --background: #30ce14;
  --color: #000;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 24px;
}

.boton-volver {
  position: absolute;
  left: 0;
  --color: rgb(0, 252, 0);
  margin-left: 10px;
}

.campo-cupos {
  display: flex;
  flex-direction: column;
  margin: 16px 0;

  .label-cupos {
    font-weight: bold;
    color: #ffffff;
    font-size: 1.2rem;
    margin-bottom: 8px;
    text-align: center;
  }

  .cupos-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    ion-button {
      --border-color: #30ce14;
      --color: #30ce14;
    }

    .cupos-numero {
      font-size: 1.5rem;
      font-weight: bold;
      width: 50px;
      text-align: center;
      color: white;
    }
  }
}

ion-segment.input-monster {
  --background: #202020;
  --color: #ffffff;
  --indicator-color: #2ec713;
  --highlight-color: #32d815;
  --border-radius: 12px;
  margin: 12px auto;
  width: 90%;
  max-width: 500px;
  border: 1px solid #33db15;
  border-radius: 12px;
  padding: 4px;
}

ion-segment-button {
  --color-checked: #202020;
  --background-checked: #2eb316;
  --color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-size: 10px;
}

ion-segment-button.ion-activated {
  box-shadow: 0 0 10px #2ed610;
}