<ion-content [fullscreen]="true" class="ajustado">

  <!-- header local con nombre chat y boton de colcer atras -->
  <ion-toolbar class="chat-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lista-chat"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start">
      <img [src]="chatInfo.userAvatar">
    </ion-avatar>
    <ion-title>{{ chatInfo.username }}</ion-title>
  </ion-toolbar>

  <!-- Espacio debajo del header -->
  <div class="spacer-header"></div>


  <div class="chat-container">
    <div *ngFor="let mensaje of mensajes" [ngClass]="mensaje.emisorId === 'yo' ? 'message sent' : 'message received'">
      <div class="bubble">

        <!-- Imagen (si existe) -->
        <img *ngIf="mensaje.imagen" [src]="mensaje.imagen" class="imagen-mensaje" (load)="onImageLoad()"/>

        <!-- Video (si existe) -->
        <video *ngIf="mensaje.video" [src]="mensaje.video" controls class="video-chat" (canplay)="onMediaLoad()"></video>

        <!-- Audio (si existe) -->
        <audio *ngIf="mensaje.audio" [src]="mensaje.audio" controls type="audio/*" (canplay)="onMediaLoad()"></audio>

        <!-- Texto (si existe) -->
        <p *ngIf="mensaje.contenido">{{ mensaje.contenido }}</p>

        <!-- Hora -->
        <span class="hora">{{ mensaje.timestamp }}</span>
      </div>
    </div>
    <div #endOfMessages></div>
  </div>


  <ion-toolbar class="barra-fija">
    <ion-item lines="none">

      <!-- Botón para seleccionar imagen y video -->
      <ion-button fill="clear" (click)="seleccionarArchivo()">
        <ion-icon name="image-outline"></ion-icon>
      </ion-button>

      <!-- Input oculto para subir imagen -->
      <input type="file" #fileInput accept="image/*,video/*" hidden (change)="onArchivoSeleccionado($event)" />

      
      <ion-button (click)="seleccionarAudio()" fill="clear">
        <ion-icon name="mic-outline"></ion-icon>
      </ion-button>
      
      <input type="file" accept="audio/*" hidden #audioInput (change)="onAudioSeleccionado($event)" />

      <ion-input placeholder="Enviar mensaje..." [(ngModel)]="nuevoMensaje" class="mensaje-input"></ion-input>
      <ion-button fill="clear" (click)="enviarMensaje()">
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>

</ion-content>