.chat-header {
  position: fixed;
  background-color: white;
  z-index: 10;
  border-bottom: 1px solid #ccc;
  padding: 4px 16px; /* Reduce el padding general para hacerlo más compacto */
  
  /* Usamos flexbox para centrar los elementos */
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-header .avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-avatar {
  width: 32px; /* Reduces the size of the avatar */
  height: 32px;
  margin-right: 8px; /* Adds a little space between the avatar and the title */
}

ion-title {
  font-size: 16px; /* Adjust the size of the title to make it smaller */
  font-weight: normal; /* Optional: Make the title less bold */
}
  
  .spacer-header {
    height: 56px; 
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 40px;
    margin-top: 18px;
  }

  .message {
    display: flex;
    margin-bottom: 10px;
    max-width: 80%;
  }
  
  .sent {
    align-self: flex-end;
    justify-content: flex-end;
  }
  
  .received {
    align-self: flex-start;
    justify-content: flex-start;
  }
  
  .bubble {
    border-radius: 18px;
    padding: 10px 14px;
    word-wrap: break-word;  /* Permite el salto de línea si el texto es largo */
    overflow-wrap: break-word; /* Asegura que el texto largo se ajuste dentro del contenedor */
    white-space: pre-wrap;  /* Asegura que los saltos de línea se respeten y se ajuste el texto */
    max-width: 100%; /* Asegura que la burbuja no se salga de los límites */
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .sent .bubble {
    background-color: #dcf8c6;
  }

  .received .bubble {
    background-color: #c7c6f8;
  }
  
  .hora {
    font-size: 10px;
    color: gray;
    display: block;
    text-align: right;
    margin-top: 4px;
  }
  
  .mensaje-input {
    width: 100%;
  }


  .imagen-chat {
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
    margin-top: 5px;
  }
  
  .video-chat {
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
    margin-top: 5px;
  }

.audio-chat {
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
    margin-top: 5px;
  }

  .grabar{
    transition: transform 0.2s ease;

    // Cuando el botón está siendo presionado (activo), lo agrandamos
    &:active {
      transform: scale(3.5);  // Agrandar al 120% de su tamaño original
    }
  }