<app-encabezado></app-encabezado>

<ion-content>


    <ion-toolbar class="chat-header">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="crear-publicacion"></ion-back-button>
        </ion-buttons>
        <ion-title>Editar Publicación</ion-title>
    </ion-toolbar>

    <ion-card class="editar-publicacion-card">
        <ion-item lines="none">
            <ion-avatar slot="start">
                <img [src]="usuario.avatar" />
            </ion-avatar>
            <ion-label>
                <h2>{{usuario.nombre_usuario}}</h2>
            </ion-label>
        </ion-item>

        <ion-textarea auto-grow="true" placeholder="Edita tu publicación" [(ngModel)]="contenido"
            class="textarea-publicacion">
        </ion-textarea>

        <!-- Mostrar imagen actual si existe -->
        <ng-container *ngIf="imagenBase64">
            <img [src]="imagenBase64" class="media-item" />
          
        </ng-container>
        
        <ion-row class="acciones-publicacion">
            <ion-col>
                <ion-button class="btn-eliminar" fill="clear" size="small" expand="block" (click)="eliminarImagen()">
                  <ion-icon name="trash-outline" slot="start"></ion-icon>
                  Eliminar Imagen
                </ion-button>
                <ion-button class="btn-cambiar" fill="clear" expand="full" (click)="seleccionarArchivo()">
                    <ion-icon name="image-outline" slot="start"></ion-icon>
                    Cambiar Foto
                </ion-button>
                <input type="file" #fileInput accept="image/*" hidden (change)="onArchivoSeleccionado($event)" />
            </ion-col>
        </ion-row>

        <ion-button class="publicar" expand="block" (click)="guardarCambios()" [disabled]="!contenido && !imagenBase64">
            Guardar Cambios
        </ion-button>
    </ion-card>


<!-- vista previa de publicación guardada -->

<ion-card *ngIf="vistaPreviaVisible" class="vista-previa-card">
    <ion-card-header>
        <ion-card-title>Vista previa de publicación guardada</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <p>{{ publicacion.contenido }}</p>
        <img *ngIf="publicacion.imagen" [src]="publicacion.imagen" class="media-item" />
    </ion-card-content>
</ion-card>


</ion-content>

<app-navbar></app-navbar>