.chat-header {
    color: #f2f2f2;
    ion-back-button {
      color: #3fe520;
    }
  }
.editar-publicacion-card {
  padding: 10px;
  width: 80vw;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80vh; // Limita el alto máximo del card
  overflow-y: auto; // Permite scroll interno si el contenido es muy largo
  margin-top: 30px;

  display: flex;
  flex-direction: column;
      h2 {
      color: #3fe520;
    }
}

.textarea-publicacion {
  color: #a6a6a6;
  max-height: 11.5em;
  overflow-y: auto;
  resize: none;
  padding: 0 12px;
}

.acciones-publicacion {
  padding: 10px;
  text-align: center;
  .btn-eliminar {
    font-size: 14px;
    color: #ee1818;
  }
  .btn-cambiar {
    font-size: 14px;
    color: #3fe520;
  }
}

.publicar{
  --background: #2d9e19;
  --color: black;
}

.media-item {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 18px;
  padding: 10px;
}

.post-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

::ng-deep ion-modal.modal-giphy {
  --height: 80vh;
  --width: 98vw;
  --border-radius: 18px;
  align-items: center !important;
  justify-content: center;
}

::ng-deep ion-modal.modal-giphy .ion-page {
  border-radius: 18px;
  overflow: hidden;
}

::ng-deep ion-modal.modal-giphy ion-content {
  --background: #181818;
  border-radius: 18px;
  padding: 0 0 16px 0;
}