.chat-header {
    color: #f2f2f2;
    ion-back-button {
      color: #3fe520;
    }
  }

  .editar-publicacion-card {
    padding: 10px;
    width: 80vw;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Asegura al menos 30px de separación con el header */
    max-height: calc(100vh - 30px - 56px); // 56px es una altura común de header Ionic, ajusta si es necesario
    margin-top: 30px;

    h2 {
      color: #3fe520;
    }
  }

  .textarea-publicacion {
    margin: 10px;
    color: #a6a6a6;
  }
  
  .acciones-publicacion {
    padding: 10px;
    text-align: center;
    .btn-eliminar {
      font-size: 14px;
      color: #ee1818;
    }
    .btn-cambiar {
      font-size: 14px;
      color: #3fe520;
    }
  }

  .publicar{
  --background: #2d9e19;
  --color: black;
  }

  .media-item {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

  .post-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }