// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #2dd55b;           /* rojo principal */
  --ion-color-primary-contrast: #ffffff;

  --ion-color-secondary: #e52020;         /* primary-green */
  --ion-color-secondary-contrast: #000000;

  --color-text-dato: #0085ff;             /* texto-dato */
  --color-text-secundary: #a6a6a6;       /* texto-secundary */
  --color-text-primary: #ffffff;          /* texto-primary */
  --color-fondo-gris: #494848;            /* fondo-gris */
  --color-iconos: #45a834;                /* iconos */
}

