<app-encabezado></app-encabezado>

<ion-content [fullscreen]="true" scroll-y="false" class="fondo-negro">

  <ion-button fill="clear" class="boton-volver" (click)="volverAtras()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>

  <div class="contenedor-evento">
    <ion-card class="card-monster" *ngIf="evento">
      <ion-card-header>
        <ion-card-title class="titulo-monster">🎮 {{ evento.nombre }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <div class="contenido-evento">
          <div class="campo-evento">
            <label>Descripción:</label>
            <p>{{ evento.descripcion }}</p>
          </div>

          <div class="campo-evento">
            <label>Lugar:</label>
            <p>{{ evento.lugar }}</p>
          </div>

          <div class="campo-evento">
            <label>Fecha:</label>
            <p>{{ evento.hora}}</p>
          </div>

          

          <div class="campo-evento" *ngIf="evento.cupos">
            <label>Cupos máximos:</label>
            <p>{{ evento.cupos }}</p>
          </div>
        </div>

        <!-- Botón deslizable separado -->
        <div class="swipe-button-container" #swipeArea>
          <div class="swipe-track">
            <div class="swipe-fill" #swipeFill></div>

            <div class="swipe-thumb" #swipeThumb>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>

            <span class="swipe-text" #swipeText>Desliza para tomar evento</span>
          </div>
        </div>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<app-navbar></app-navbar>