.boton-volver{
  --color: rgb(41, 197, 41);
  margin-top: 10px;
  margin-bottom: 10px;

}

.fondo-negro {
  --background: #000;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.contenedor-evento {
  flex: 1;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 16px;
  box-sizing: border-box;
  overflow-y: auto; 
}
.card-monster {
  width: 100%;
  max-width: 500px;
  background: #111;
  border: 2px solid #2ec015;
  border-radius: 16px;
  box-shadow: 0 0 15px #2ec015;
  color: #2ec015;
  display: flex;
  flex-direction: column;
  height: 100%; // fuerza altura completa
}

.titulo-monster {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  color: #2ec015;
}
.subtitulo-monster{
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: rgb(15, 209, 167);;
}

.campo-evento {
  margin-bottom: 20px;

  label {
    display: block;
    font-weight: bold;
    font-size: 0.95rem;
    color: #2ec015;
    margin-bottom: 4px;
  }

  p {
    font-size: 0.95rem;
    margin: 0;
    color: #fff;
  }
}

.boton-monster {
  --background: #2ec015;
  --color: #000;
  font-weight: bold;
  margin-top: 350px;
  border-radius: 8px;
}

.contenido-evento {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.fila-lugar-hora {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;

  .campo-evento {
    flex: 1 1 45%;
    margin-bottom: 0; // evita separación extra si ya usas gap
  }
}

.contenido-scroll {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 16px;
  overflow-y: auto;
}








.swipe-button-container {
  margin-top: 16px;
  padding: 10px;
}

.swipe-track {
  position: relative;
  background-color: #222;
  border-radius: 30px;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 0 10px #21a10a;
}

.swipe-fill {
  position: absolute;
  height: 100%;
  width: 0;
  background-color: #21a10a;
  border-radius: 30px;
  transition: width 0.3s ease;
  z-index: 1;
}

.swipe-thumb {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-shadow: 0 0 8px #21a10a;
}

.swipe-text {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  z-index: 0;
}
