<app-encabezado></app-encabezado>

<ion-content [fullscreen]="true" scroll-y="true" class="fondo-negro">

  <ion-button fill="clear" class="boton-volver" (click)="volverAtras()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>

  <div class="contenedor-evento">
    <ion-card class="card-monster-pro" *ngIf="evento">
      <ion-card-header class="header-evento">
        <ion-icon name="game-controller-outline" class="icono-titulo"></ion-icon>
        <ion-card-title>{{ evento.nombre_evento }}</ion-card-title>
        <ion-card-subtitle>
          Creado por: <span class="creador">{{ creadorNombre }}</span>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="contenido-pro">
        <div class="estado-box">
          <ion-badge [color]="
        nombreEstado === 'DISPONIBLE' ? 'success' :
        nombreEstado === 'EN CURSO' ? 'warning' :
        nombreEstado === 'FINALIZADO' ? 'danger' : 'medium'
      ">
            Estado: {{ nombreEstado }}
          </ion-badge>
        </div>

        <div class="info-evento">
          <ion-item lines="none">
            <ion-icon name="document-text-outline" slot="start"></ion-icon>
            <ion-label>
              <h3>Descripción</h3>
              <p class="descripcion">{{ evento.descripcion }}</p>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-icon name="location-outline" slot="start"></ion-icon>
            <ion-label>
              <h3>Lugar</h3>
              <p>{{ evento.lugar }}</p>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <ion-label>
              <h3>Fecha de inicio</h3>
              <p>{{ evento.fechaInicio | date: 'longDate' }}</p>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-icon name="dice-outline" slot="start"></ion-icon>

            <ion-label>
              <h3>Juego</h3>
              <p>{{ nombreJuego }}</p>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-icon name="people-outline" slot="start"></ion-icon>
            <ion-label>
              <h3>Cupos</h3>
              <p>{{ evento.cupos }}</p>
            </ion-label>
          </ion-item>
        </div>

        <div class="unirse-container" *ngIf="evento">
          <ion-button expand="block" shape="round" size="large" class="boton-unirse-pro" [disabled]="!puedeUnirse"
            (click)="unirseAlEvento()">
            <ion-icon name="log-in-outline" slot="start"></ion-icon>
            {{ yaInscrito ? 'Ya estás inscrito' : 'Unirse al evento' }}
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>

<app-navbar></app-navbar>