<ion-content class="login-content" [fullscreen]="true">
  <div class="container">
 <img src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=600&q=80" alt="Imagen de una esquina" class="app-logo" />
  <h1 class="app-title">Skin-a</h1>

    <div class="login-box">

        <ion-item lines="none" class="input-item" [class.error-input]="errorAutenticacion">
          <ion-icon name="person-outline" slot="start" aria-hidden="true"></ion-icon>
          <ion-input
            type="email"
            placeholder="Correo electrónico"
            [(ngModel)]="correo"
            aria-label="Correo"
            (ionInput)="errorAutenticacion = false"
          >
          </ion-input>
        </ion-item>

      <ion-item lines="none" class="input-item" [class.error-input]="errorAutenticacion">
        <ion-icon name="lock-closed-outline" slot="start" aria-hidden="true"></ion-icon>
        <ion-input
          [type]="mostrarContrasena ? 'text' : 'password'"
          placeholder="Contraseña"
          [(ngModel)]="contrasena"
          aria-label="Contraseña"
          (ionInput)="errorAutenticacion = false"
        >
        </ion-input>
        <ion-icon
          slot="end"
          name="{{ mostrarContrasena ? 'eye-off-outline' : 'eye-outline' }}"
          (click)="toggleMostrarContrasena()"
          style="cursor: pointer;"
          aria-label="Mostrar/Ocultar contraseña"
        ></ion-icon>
      </ion-item>


      <div class="options-row">
        <div class="account-links">
          <a [routerLink]="['/crear-usuario']" class="link-option">Registrate</a>
          <a [routerLink]="['/olvido-contrasena']" class="link-option forgot-link">
            ¿Olvidaste tu contraseña?
          </a>
        </div>
      </div>

      <ion-button expand="block" class="login-button" (click)="iniciarSesion()">
        Iniciar sesión
      </ion-button>
    </div>
  </div>
</ion-content>
