<app-encabezado></app-encabezado>

<ion-content class="event-details-container">
    <div class="header-row">
        <ion-button class="back-button" (click)="volver()"  fill="clear" >
        <ion-icon name="arrow-back-outline" slot="icon-only" aria-hidden="true"></ion-icon>
      </ion-button>
      <h1 class="app-title">Detalle evento</h1>
    </div>



  <!-- Tournament Name -->
  <div class="section-title">
    <h1>{{ eventData?.tournamentName }}</h1>
    <h2>{{ eventData?.game }}</h2>
  </div>

  <!-- Event Details -->
  <div class="section-body">
    <div class="info-row">
      <ion-icon name="information-circle-outline"></ion-icon>
      <div>
        <h3>Descripción</h3>
        <p>{{ eventData?.description }}</p>
      </div>
    </div>

    <div class="info-row">
      <ion-icon name="game-controller-outline"></ion-icon>
      <div>
        <h3>Modo de juego</h3>
        <p>{{ eventData?.gameMode }}</p>
      </div>
    </div>

    <div class="info-row">
      <ion-icon name="book-outline"></ion-icon>
      <div>
        <h3>Reglas</h3>
        <p>{{ eventData?.rules }}</p>
      </div>
    </div>

    <div class="info-row">
      <ion-icon name="calendar-outline"></ion-icon>
      <div>
        <h3>Fecha</h3>
        <p>{{ eventData?.date }}</p>
      </div>
    </div>

    <div class="info-row">
      <ion-icon name="time-outline"></ion-icon>
      <div>
        <h3>Hora</h3>
        <p>{{ eventData?.time }}</p>
      </div>
    </div>

    <div class="info-row">
      <ion-icon name="location-outline"></ion-icon>
      <div>
        <h3>Lugar</h3>
        <p>{{ eventData?.location }}</p>
      </div>
    </div>

    <div class="info-row">
      <ion-icon name="person-outline"></ion-icon>
      <div>
        <h3>Dueño del evento</h3>
        <p>{{ eventData?.owner }}</p>
      </div>
    </div>
  </div>
</ion-content>

<app-navbar></app-navbar>
