<app-encabezado></app-encabezado>

<ion-content class="fondo-negro ion-padding">
  <div class="header-contenedor">
    <h1 class="titulo">SALA EVENTO</h1>
  </div>

  <!-- Panel del Anfitrión (CRUD visual) -->
  <ion-card *ngIf="esAnfitrion" class="panel-admin">
    <ion-card-header>
      <ion-card-title>Panel del Anfitrión</ion-card-title>
      <ion-card-subtitle>Administra tu evento</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>

        <!-- BOTÓN INICIAR / FINALIZAR -->
        <ion-row>
          <ion-col size="12">
            <ion-button expand="block" color="success" *ngIf="!eventoEnCurso" [disabled]="cargandoEvento"
              (click)="iniciarEvento()">
              <ion-icon name="play-outline" slot="start"></ion-icon>
              Iniciar evento
            </ion-button>


            <ion-button expand="block" color="danger" *ngIf="eventoEnCurso" (click)="iniciarEvento()">
              <ion-icon name="stop-circle-outline" slot="start"></ion-icon>
              Finalizar evento
            </ion-button>
          </ion-col>
        </ion-row>

        <!-- BOTONES PARTICIPAR / SALIR -->
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" color="warning" (click)="unirmeComoParticipante()" [disabled]="eventoEnCurso">
              <ion-icon name="log-in-outline" slot="start"></ion-icon>
              Participar
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="medium" (click)="dejarDeParticipar()"
              [disabled]="!esParticipante || eventoEnCurso">
              <ion-icon name="log-out-outline" slot="start"></ion-icon>
              Salir como jugador
            </ion-button>
          </ion-col>
        </ion-row>

        <!-- CAMPO CUPOS -->
        <ion-row>
          <ion-col size="12" class="cupos-wrapper">
            <label class="label-cupos">Cupos</label>
            <div class="fila-input">
              <ion-input type="number" min="0" [max]="50 - jugadores.length" [(ngModel)]="nuevoCupo"
                [disabled]="eventoEnCurso" [color]="campoCuposInvalido ? 'danger' : ''"
                (keydown)="bloquearCaracteresInvalidos($event)" (ionInput)="validarSoloNumeros($event)" class="input-cupos">
              </ion-input>

              <ion-button color="success" size="small" (click)="actualizarCupos()"
                [disabled]="eventoEnCurso || campoCuposInvalido">
                Actualizar
              </ion-button>

            </div>
            <ion-note class="error-cupos" color="danger" *ngIf="campoCuposInvalido">
              El número debe estar entre 0 y {{ 50 - jugadores.length }}.
            </ion-note>

          </ion-col>
        </ion-row>

        <!-- TEMPORIZADOR SOLO PARA ANFITRIÓN -->
        <ion-row *ngIf="eventoEnCurso">
          <ion-col size="12">
            <div class="temporizador temporizador-admin">
              <ion-icon name="time-outline"></ion-icon>
              <span>{{ tiempoTranscurrido }}</span>
            </div>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>

  <div class="espera-contenedor">
    <ion-card class="espera-card">
      <ion-card-header>
        <ion-card-title class="text-center">{{ evento?.nombre_evento }}</ion-card-title>
        <ion-card-subtitle class="text-center">
          Organizado por:
          <span style="color: rgb(15, 209, 167);">[ {{ evento?.creado_por_nombre }} ]</span>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="info-horizontal">
          <ion-item lines="none" class="info-item">
            <ion-label>
              <h2>Juego</h2>
              <p>{{ evento?.nombre_juego }}</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="info-item">
            <ion-label>
              <h2>Lugar</h2>
              <p>{{ evento?.lugar }}</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="info-item">
            <ion-label>
              <h2>Fecha de Inicio</h2>
              <p>{{ evento?.fechaInicio | date: 'longDate' }}</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="info-item info-item-horizontal">
            <ion-label class="label-inline">
              <h2>Cupos disponibles:</h2>
            </ion-label>
            <div class="valor-inline">{{ evento?.cupos }}</div>
          </ion-item>
        </div>

        <!-- Lista de jugadores -->
        <div *ngIf="jugadores?.length > 0" class="panel-admin">
          <ion-item-divider color="dark" class="jugadores-header">
            <span>Jugadores actuales</span>
            <ion-icon *ngIf="esAnfitrion" [name]="mostrarPanelJugadores ? 'eye-off-outline' : 'eye-outline'"
              class="icono-toggle" (click)="mostrarPanelJugadores = !mostrarPanelJugadores">
            </ion-icon>
          </ion-item-divider>


          <ion-list *ngIf="esAnfitrion ? mostrarPanelJugadores : true">
            <ion-item *ngFor="let jugador of jugadores" (click)="esAnfitrion ? confirmarExpulsion(jugador) : null"
              [disabled]="jugador.id_usuario === usuarioActualID || !esAnfitrion">
              <ion-icon name="person-circle-outline" slot="start"></ion-icon>
              <ion-label>
                {{ jugador.nombre_usuario }}
                <p *ngIf="jugador.id_usuario === usuarioActualID">(Tú)</p>
                <p *ngIf="jugador.id_usuario === evento?.id_creador">(Anfitrión)</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>

        <!-- TEMPORIZADOR SOLO PARA NO ANFITRIÓN -->
        <div class="acciones">
          <div *ngIf="eventoEnCurso && !esAnfitrion" class="temporizador">
            <ion-icon name="time-outline"></ion-icon>
            <span>{{ tiempoTranscurrido }}</span>
          </div>

          <ion-button expand="block" color="danger" *ngIf="!esAnfitrion && esParticipante" (click)="confirmarSalida()">
            Salir
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Chat -->
  <div class="chat-fab" (click)="toggleChat()" *ngIf="!chatAbierto">
    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    <ion-badge *ngIf="nuevosMensajesSinLeer" color="danger" class="chat-badge">!</ion-badge>
  </div>

  <div class="chat-flotante" *ngIf="chatAbierto">
    <div class="chat-header">
      <span>Chat de la Sala</span>
      <ion-icon name="close-outline" class="cerrar-icono" (click)="toggleChat()"></ion-icon>
    </div>

    <div class="chat-cuerpo">
      <div *ngFor="let msg of mensajes" [ngClass]="{
        'msg-sistema': msg.tipo !== 'mensaje',
        'msg-yo': msg.tipo === 'mensaje' && msg.id_usuario === usuarioActualID,
        'msg-otro': msg.tipo === 'mensaje' && msg.id_usuario !== usuarioActualID
      }">
        <ng-container [ngSwitch]="msg.tipo">
          <div *ngSwitchCase="'mensaje'">
            <strong>{{ msg.nombre_usuario }}:</strong>
            <span>{{ msg.texto }}</span>
          </div>
          <div *ngSwitchDefault>
            <em>🔔 {{ msg.texto }}</em>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="chat-input">
      <ion-item lines="none">
        <ion-input [(ngModel)]="nuevoMensaje" placeholder="Escribe..."></ion-input>
        <ion-button fill="clear" (click)="enviarMensaje()">
          <ion-icon name="send-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </div>
  </div>
</ion-content>

<app-navbar></app-navbar>