<ion-header>
  <ion-toolbar class="encabezado-toolbar">
    <ion-title style="color: aliceblue;">Proyecto</ion-title>
    <ion-buttons slot="end" class="encabezado-buttons">
      <ion-button>
        <ion-icon name="notifications-sharp" class="encabezado-icon"></ion-icon>
      </ion-button>
      <ion-button (click)="irEvento()">
        <ion-icon
          name="person-outline"
          [ngClass]="rutaActual  === '/perfil' ? 'icon-activo' : 'icon-inactivo'">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
