
<app-encabezado></app-encabezado>

<ion-content>

  <!-- REFRESHER -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
      pullingIcon="game-controller"
      refreshingIcon="game-controller"> 
    </ion-refresher-content>
  </ion-refresher>
  


  <ion-list lines="none">

    <!-- Publicación -->
    <ion-card *ngFor="let post of posts">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="post.usuario.userAvatar" />
        </ion-avatar>
        <ion-label>
          <h2>{{ post.usuario.username }}</h2>
          <p>{{ post.time }}</p>
        </ion-label>
        <!-- Botón de seguir -->
        <ion-chip [color]="post.usuario.following ? 'success' : 'primary'" (click)="seguir(post)"
          [outline]="!post.usuario.following">
          {{ post.usuario.following ? 'Siguiendo' : 'Seguir' }}
        </ion-chip>

        <!-- Botón de opciones -->
        <ion-button fill="clear" size="small" (click)="opcion(post)">
          <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
        </ion-button>

      </ion-item>

      <!-- Parte donde se muestra imagen o descripción -->
      <ng-container *ngIf="post.image; else soloDescripcion">
        <!-- Si hay imagen, mostrar imagen -->
        <img [src]="post.image" class="post-image" (click)="verImagen(post)" />
      </ng-container>

      <!-- En caso que NO haya imagen -->
      <ng-template #soloDescripcion>
        <ion-card-content>
          <p class="descripcion-sola">{{ post.description }}</p>
          <p><strong>{{ post.likes }} likes</strong></p>
        </ion-card-content>
      </ng-template>

      <!-- Siempre muestra acciones y descripción si hay imagen -->
      <ng-container *ngIf="post.image">
        <ion-card-content>
          <p><strong>{{ post.likes }} likes</strong></p>

          <p>
            {{ mostrarDescripcion ? post.description : (post.description | slice:0:100) + (post.description.length > 100
            ? '...' : '') }}
            <ion-button *ngIf="post.description.length > 100" fill="clear" size="small"
              (click)="mostrarDescripcion = !mostrarDescripcion">
              {{ mostrarDescripcion ? '...Ver menos' : 'Ver más...' }}
            </ion-button>
          </p>
        </ion-card-content>
      </ng-container>

      <!-- Acciones -->
      <ion-row class="action-row" responsive>

        <!-- Botón de me gusta -->
        <ion-col size="auto">
          <ion-button fill="clear" size="small" (click)="likes(post)">
            <!-- Cambia el icono según el estado de me gusta -->
            <ion-icon [name]="post.liked ? 'heart' : 'heart-outline'" size="large" color="danger"></ion-icon>
          </ion-button>
        </ion-col>

        <!-- Botón de comentarios -->
        <ion-col size="auto">
          <ion-button fill="clear" size="small" (click)="comentario(post)">
            <ion-icon name="chatbubble-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>

        <!-- Botón de compartir a chat -->
        <ion-col size="auto">
          <ion-button fill="clear" size="small" (click)="enviar(post)">
            <ion-icon name="paper-plane-outline" size="large"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col></ion-col>

        <!-- Botón de guardar -->
        <ion-col size="auto">
          <ion-button fill="clear" size="small" (click)="guardar(post)">
            <!-- Cambia el icono según el estado de guardado -->
            <ion-icon [name]="post.guardar ? 'bookmark' : 'bookmark-outline'" size="large"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-card>

  </ion-list>




  <!-- VISOR DE IMAGEN (solo se muestra cuando se activa) -->
  <div *ngIf="imagenSeleccionada" class="overlay" (click)="cerrarVisor()">
    <img [src]="imagenSeleccionada" class="imagen-expandida" />
  </div>


</ion-content>

<app-navbar></app-navbar>