<app-encabezado></app-encabezado>

<ion-content>

  <!-- REFRESHER -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="game-controller" refreshingIcon="game-controller">
    </ion-refresher-content>
  </ion-refresher>

  <!-- MOSTRAR PUBLICACIÓN -->
  <ion-card *ngIf="publicacion" class="publicacion-card">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img [src]="usuarioPost.avatar" />
      </ion-avatar>
      <ion-label (click)="verPerfil(getUsuarioPublicacion(publicacion.id_usuario))">
        <h2>{{ usuarioPost.nombre_usuario }}</h2>
        <p>{{ publicacion.fecha_publicacion | date:'dd/MM/yyyy \'a las\' hh:mm a' }}</p>
      </ion-label>
      <!-- Botón de seguir -->
      <ion-chip *ngIf="publicacion.id_usuario !== usuarioActual.id_usuario"
        [color]="sigueAlAutor(publicacion) ? 'success' : 'primary'" (click)="sigueAlAutor(publicacion) 
    ? confirmarDejarDeSeguir(getUsuarioPublicacion(publicacion.id_usuario)) 
    : seguir(getUsuarioPublicacion(publicacion.id_usuario))" [outline]="!sigueAlAutor(publicacion)">
        {{ sigueAlAutor(publicacion) ? 'Siguiendo' : 'Seguir' }}
      </ion-chip>

      <!-- Botón de opciones -->
      <ion-button fill="clear" size="small" (click)="opcion(publicacion)">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>

    </ion-item>


    <!-- Parte donde se muestra imagen o descripción -->
    <ng-container *ngIf="publicacion.imagen; else soloDescripcion">
      <!-- Si hay imagen, mostrar imagen -->
      <img [src]="publicacion.imagen" class="post-image" (click)="verImagen(publicacion)" />
    </ng-container>

    <!-- Acciones -->
    <ion-row class="action-row" responsive>
      <!-- Botón de me gusta -->
      <ion-col size="auto">
        <ion-button fill="clear" size="small" (click)="likePublicacion(publicacion)">
          <ion-icon [name]="usuarioLikeoPublicacion(publicacion.id_publicacion) ? 'sparkles' : 'sparkles-outline'"
            size="large"></ion-icon>
        </ion-button>
      </ion-col>
      <!-- Botón de compartir -->
      <ion-col size="auto">
        <ion-button id="open-modal" fill="clear" size="small" (click)="enviar(publicacion)">
          <ion-icon name="paper-plane-outline" size="large"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
      <!-- Botón de guardar -->
      <ion-col size="auto">
        <ion-button fill="clear" size="small" (click)="guardar(publicacion)">
          <ion-icon [name]="estaGuardada(publicacion) ? 'bookmark' : 'bookmark-outline'" size="large"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>

    <!-- En caso que NO haya imagen -->
    <ng-template #soloDescripcion>
      <ion-card-content>
        <p class="descripcion-sola">{{ publicacion.contenido }}</p>
        <p><strong>{{ getLikesPublicacion(publicacion.id_publicacion) }} likes</strong></p>
      </ion-card-content>
    </ng-template>

    <!-- Siempre muestra acciones y descripción si hay imagen -->
    <ng-container *ngIf="publicacion.imagen">
      <ion-card-content>
        <p><strong>{{ getLikesPublicacion(publicacion.id_publicacion) }} likes</strong></p>
        <p>
          {{ descripcionExpandida[publicacion.id_publicacion]
          ? publicacion.contenido
          : (publicacion.contenido | slice:0:100) + (publicacion.contenido.length > 100 ? '...' : '') }}
          <ion-button *ngIf="publicacion.contenido.length > 100" fill="clear" size="small"
            (click)="toggleDescripcion(publicacion.id_publicacion)">
            {{ descripcionExpandida[publicacion.id_publicacion] ? '...Ver menos' : 'Ver más...' }}
          </ion-button>
        </p>
      </ion-card-content>
    </ng-container>

  </ion-card>



  <!-- COMENTARIOS   -->
  <div #comentariosContainer class="comentario-container">
    <ion-toolbar class="chat-header">
      <ion-button slot="start" (click)="volver()" expand="block" fill="clear" shape="round">
        <ion-icon name="arrow-back-outline"></ion-icon> </ion-button>
      <ion-title>COMENTARIOS</ion-title>
    </ion-toolbar>
    <ion-list>

      <!-- Mensaje si no hay publicaciones -->
      <div *ngIf="comentarios.length === 0" class="sin-comentarios">
        <span class="lupa-spinner">
          <ion-icon name="planet-outline"></ion-icon>
        </span>
        <ion-text color="medium">
          <h3>No hay comentarios para mostrar</h3>
          <h6>Pero recuerda que siempre puedes ser el primero</h6>
        </ion-text>
      </div>


      <ion-item *ngFor="let comentario of comentarios">
        <ion-avatar slot="start">
          <img [src]="getUsuarioComentario(comentario.id_usuario)?.avatar" />
        </ion-avatar>

        <ion-label>
          <h3>{{ getUsuarioComentario(comentario.id_usuario)?.nombre_usuario }}</h3>
          <p>{{ comentario.contenido_comentario }}</p>
          <small>{{ comentario.fecha_comentario | date:'dd/MM/yyyy hh:mm a' }}</small>
        </ion-label>

        <!-- CONTENEDOR PARA BOTÓN Y LIKES EN COLUMNA -->
        <div slot="end" class="like-container">
          <ion-button fill="clear" size="small" (click)="comentariolikes(comentario)">
            <ion-icon
              [name]="usuarioLikeoComentario(comentario.id_comentario) ? 'sparkles' : 'sparkles-outline'"></ion-icon>
          </ion-button>
          <ion-note class="likes-count">
            {{ getLikesComentario(comentario.id_comentario) }}
          </ion-note>
        </div>

      </ion-item>
    </ion-list>
  </div>

  <!-- VISOR DE IMAGEN (solo se muestra cuando se activa) -->
  <div *ngIf="imagenSeleccionada" class="overlay" (click)="cerrarVisor()">
    <img [src]="imagenSeleccionada" class="imagen-expandida" />
  </div>

  <!-- Modal para seleccionar amigos (Sheet Modal) -->
  <ion-modal class="custom-modal-enviar" [isOpen]="isModalOpen" (didDismiss)="closeModal()" [initialBreakpoint]="0.26"
    [breakpoints]="[0, 0.26, 0.51]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Enviar publicación</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-searchbar placeholder="Buscar amigos" (ionInput)="handleInput($event)"></ion-searchbar>
        <ion-list class="modal-scrollable-content" scroll-y="true">

          <div *ngIf="followersfriend.length === 0" class="sin-conversaciones">
            <span class="lupa-spinner">
              <ion-icon name="chatbubbles-outline"></ion-icon>
            </span>
            <ion-text color="medium">
              <h3>Sigue a mas personas.</h3>
              <h6>Animate a hablar con ellos</h6>
            </ion-text>
          </div>

          <ion-item *ngFor="let user of followersfriend">
            <ion-avatar slot="start">
              <img [src]="user.avatar" />
            </ion-avatar>
            <ion-label>
              <h2>{{ user.nombre_usuario }}</h2>
            </ion-label>
            <ion-button fill="clear" (click)="sendPostToUser(user)">Enviar</ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>






</ion-content>

<!-- CAMPO NUEVO COMENTARIO -->
<ion-footer>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-input placeholder="Añadir comentario..." [(ngModel)]="nuevoComentario"></ion-input>
      <ion-button fill="clear" class="btn-publicar" (click)="publicarComentario()">Publicar</ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>