.chat-header {
  color: #f2f2f2;
  ion-back-button {
    color: #3fe520;
  }
}


.crear-publicacion-card {
  padding: 10px;
  h2{
    color: #3fe520;
  }
}

.textarea-publicacion {
  margin: 10px;
  color: #a6a6a6;
}

.acciones-publicacion {
  padding: 10px;
  text-align: center;
  ion-button {
    font-size: 14px;
    color: #3fe520;
  }
}

.publicar{
  --background: #2d9e19;
  --color: black;
}

.media-item {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.post-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}


::ng-deep ion-modal.modal-giphy {
  --height: 80vh;
  --width: 98vw;
  --border-radius: 18px;
  align-items: center !important;
  justify-content: center;
}

::ng-deep ion-modal.modal-giphy .ion-page {
  border-radius: 18px;
  overflow: hidden;
}

::ng-deep ion-modal.modal-giphy ion-content {
  --background: #181818;
  border-radius: 18px;
  padding: 0 0 16px 0;
}