
::ng-deep ion-refresher-content .refresher-icon,
::ng-deep ion-refresher-content .refresher-pulling-icon,
::ng-deep ion-refresher-content .refresher-refreshing-icon {
  color: #3fe520 !important; // Cambia este valor por el color que desees
}

ion-icon{
  color: #3fe520;
}

ion-searchbar{
  color: #f2f2f2;
  --icon-color: #3fe520;
}

.chat-header {
  color: #f2f2f2;
  ion-back-button {
    color: #3fe520;
  }
}

.message-text{
  padding-left: 20px;
  color: #a6a6a6;
}

.chat-avatar-icon{
  padding-top: 9px;
  height: 90px;
}
  .user-info {
    padding-left: 20px;
    color: #f2f2f2;
    display: flex;
    align-items: center;
    gap: 8px;
  }



  ion-list {
  background: transparent !important;
}

.sin-conversaciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  text-align: center;
  color: #888;
  font-size: 1.2rem;
  font-weight: 500;
  background: transparent;

  .lupa-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;

    ion-icon {
      font-size: 3rem;
      color: #3fe520;
      animation: girarLupa 2.5s linear infinite;
    }
  }

  ion-text h3 {
    margin: 0;
    color: #888;
    font-weight: 500;
    font-size: 1.2rem;
  }
}

@keyframes girarLupa {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
