<app-encabezado></app-encabezado>

<ion-content>

  <!-- REFRESHER -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="game-controller" refreshingIcon="game-controller">
    </ion-refresher-content>
  </ion-refresher>

  <!-- Barra de búsqueda -->
  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" placeholder="Buscar chat"></ion-searchbar>
  <!-- chats -->
  <ion-list [inset]="true" lines="full">

    <ion-toolbar class="chat-header">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>Mensajes</ion-title>
    </ion-toolbar>
    <!-- Lista de chat -->
    <ion-item *ngFor="let conv of conversaciones" class="chat-item"
      [routerLink]="['/chat-privado', conv.id_conversacion]"
      (click)="marcarUltimoMensajeComoVisto(conv.id_conversacion)">
      <div class="chat-avatar-icon">
        <ion-avatar slot="start">
          <img [src]="getUsuarioReceptor(conv)?.avatar" />
        </ion-avatar>
        <ion-icon
          [name]="getUsuarioReceptor(conv)?.estado_online ? 'cloud' : 'cloud-offline-outline'"></ion-icon>
      </div>
      <ion-label>
        <!-- Nombre de usuario y estado -->
        <div class="user-info" style="display: flex; align-items: center;">
          <h5 style="margin-right: 8px;">
            {{ getUsuarioReceptor(conv)?.nombre_usuario || 'Usuario desconocido' }}
          </h5>
          <!-- Icono de carta si el último mensaje no está visto -->
<ion-icon
  *ngIf="
    getUltimoMensaje(conv.id_conversacion)
    && !getUltimoMensaje(conv.id_conversacion)?.estado_visto
    && getUltimoMensaje(conv.id_conversacion)?.id_usuario_emisor !== usuarioActual.id_usuario
  "
  name="mail-unread-outline" color="primary" style="font-size: 1.2em; margin-left: 4px;">
</ion-icon>
        </div>
        <!-- Último mensaje -->
        <p class="message-text">
          <ng-container
            *ngIf="getUltimoMensaje(conv.id_conversacion)?.contenido?.startsWith('[imagen]'); else checkAudio">
            📷 Imagen recibida
          </ng-container>
          <ng-template #checkAudio>
            <ng-container
              *ngIf="getUltimoMensaje(conv.id_conversacion)?.contenido?.startsWith('[audio]'); else checkVideo">
              🎧 Audio recibido
            </ng-container>
          </ng-template>
          <ng-template #checkVideo>
            <ng-container *ngIf="getUltimoMensaje(conv.id_conversacion)?.contenido?.startsWith('[video]'); else texto">
              🎥 Video recibido
            </ng-container>
          </ng-template>
          <ng-template #texto>
            {{ getUltimoMensaje(conv.id_conversacion)?.contenido }}
          </ng-template>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-navbar></app-navbar>