
::ng-deep ion-refresher-content .refresher-icon,
::ng-deep ion-refresher-content .refresher-pulling-icon,
::ng-deep ion-refresher-content .refresher-refreshing-icon {
  color: #3fe520 !important; // Cambia este valor por el color que desees
}

ion-icon{
  color: #3fe520;
}

ion-searchbar{
  color: #f2f2f2;
  --icon-color: #3fe520;
}

.chat-header {
  border-radius: 10px;
  color: #f2f2f2;
  ion-back-button {
    color: #3fe520;
  }
}

.message-text{
  padding-left: 20px;
  color: #a6a6a6;
    display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}


.chat-avatar-icon{
  padding-top: 9px;
  height: 90px;
}
  .user-info {
    padding-left: 20px;
    color: #f2f2f2;
    display: flex;
    align-items: center;
    gap: 8px;
  }



  ion-list {
  background: transparent !important;
}

.sin-conversaciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  text-align: center;
  color: #888;
  font-size: 1.2rem;
  font-weight: 500;
  background: transparent;

  .lupa-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;

    ion-icon {
      font-size: 3rem;
      color: #3fe520;
      animation: girarLupa 2.5s linear infinite;
    }
  }

  ion-text h3 {
    margin: 0;
    color: #888;
    font-weight: 500;
    font-size: 1.2rem;
  }
}

@keyframes girarLupa {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}


// =======================
// SCSS PARA VISTA DE PC
// =======================
@media (min-width: 768px) {

  ion-list[inset], 
  ion-list:not(.sin-conversaciones) {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    background: transparent !important;
  }

  .chat-header {
    border-radius: 10px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .chat-item {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .chat-avatar-icon {
    height: 90px;
    padding-top: 9px;
  }

  .user-info {
    padding-left: 20px;
    color: #f2f2f2;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .message-text {
    padding-left: 20px;
    color: #a6a6a6;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 500px;
    font-size: 1.1rem;
  }

  .sin-conversaciones {
    max-width: 700px;
    margin: 40px auto 0 auto;
    padding: 32px 0;
    font-size: 1.3rem;
  }

  ion-searchbar {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}